@model IEnumerable<SchoolManagement.Models.Entities.Student>
<!-- Datatables CSS -->
@*@{

        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@


    <div class="table-responsive">
        <form asp-action="changeStudent" method="get" data-ajax="true" data-ajax-update="#studentsList"
              data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailure">
            @if (ViewBag.NewClassId != null)
            {
                @Html.DropDownList("NewClassId", null, htmlAttributes: new { @class = "form-control select colg-lg-4", @placeholder = "-- Please Select --" })

            }
            <button type="submit" class="btn btn-success me-2"><i class="fas fa-chain"></i>Change Class</button>
            @*<input type="hidden" id="newClassId" name="NewClassId" />*@
            <input type="hidden" id="oldClassId" name="OldClassId" value="@Model.Select(x=>x.ClassId).FirstOrDefault()" />
            <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">

                <thead class="student-thread">
                    <tr>
                        <th>
                            <div class="form-check check-tables">
                                <input class="form-check-input" type="checkbox" value="something">
                            </div>
                        </th>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Guardian</th>
                        <th>Contact</th>
                        <th>Resutl</th>

                      
                    </tr>
                </thead>
                <tbody>

                    @if (Model.Count() >= 1)
                    {
                        foreach (var item in Model)
                        {

                            string Imge = "";

                    <tr>
                        <td>
                            @if (item.ExamNumber >= item.ClassSubjectNumber)
                            {
                                <div class="form-check check-tables">
                                    <input class="form-check-input" name="Check" type="checkbox" value="@item.StudentId">
                                </div>
                            }
                            @*else
                            {
                                <div class="form-check check-tables">
                                    <input class="form-check-input" name="Check" disabled type="checkbox" value="@item.StudentId">
                                </div>
                            }*@

                        </td>


                        <td>@item.RoleNumber</td>

                        @if (item.Attachment != null)
                        {
                            Imge = Convert.ToBase64String(item.Attachment);
                    <td>

                        <img src="@string.Format("data:image/jpeg;base64,{0}", Imge)" class="img-fluid avatar-lg rounded" />
                        @if (item.Status == true)
                        {
                            <i class="fa fa-check-circle"></i>
                            <a asp-action="Details" asp-route-id="@item.StudentId">
                                @item.FirstName @item.LastName
                            </a>

                        }
                        else
                        {
                            <i class="fa fa-delete-left"></i>
                            <a asp-action="Details" asp-route-id="@item.StudentId">
                                @item.FirstName @item.LastName
                            </a>

                        }
                    </td>
                        }
                        <input type="hidden" name="StudentId" value="@item.StudentId" />
                        <td> @item.ClassName</td>
                        <td> @item.GfatherName / @item.GuardianPhone</td>
                        <td> @item.Contact</td>
                        @if (item.ExamNumber >= item.ClassSubjectNumber)
                        {
                    <td>  Pass (@item.ExamNumber - @item.ClassSubjectNumber)</td>
                        }

                        else
                        {
                    <td>  Fail (@item.ExamNumber - @item.ClassSubjectNumber)</td>
                        }
                       
                    </tr>
                        }

                    }
                    else
                    {
                        <h5 style="text-align:center;color:red">0 records founded!</h5>
                    }



                </tbody>
            </table>
        </form>
    </div>


