@model SchoolManagement.Models.db.Student

<style>
    [data-slots] {
        font-family: monospace
    }
</style>
<label>
    Date:
    <input placeholder="dd-mm-yyyy" data-slots="dmy" class="form-control" value="@Model.DateOfBirth.Value.ToString("dd-mm-yyyy")">
</label>
<br>
<label>
    Telephone:
    <input placeholder="+93 (07_) ___-____" data-slots="_" data-accept="\d" maxlength="19" min="19">
</label>
<br>
<label>
    MAC Address:
    <input placeholder="XX:XX:XX:XX:XX:XX" data-slots="X" data-accept="[\dA-F]">
</label>
<br>
<label>
    Alphanumeric:
    <input placeholder="__-__-__-____" data-slots="_" data-accept="\w" size="13">
</label>
<br>
<label>
    Credit Card:
    <input placeholder=".... .... .... ...." data-slots="." data-accept="\d" size="19">
</label>
<br>

<script>
    // This code empowers all input tags having a placeholder and data-slots attribute
    document.addEventListener('DOMContentLoaded', () => {
        for (const el of document.querySelectorAll("[placeholder][data-slots]")) {
            const pattern = el.getAttribute("placeholder"),
                slots = new Set(el.dataset.slots || "_"),
                prev = (j => Array.from(pattern, (c, i) => slots.has(c) ? j = i + 1 : j))(0),
                first = [...pattern].findIndex(c => slots.has(c)),
                accept = new RegExp(el.dataset.accept || "\\d", "g"),
                clean = input => {
                    input = input.match(accept) || [];
                    return Array.from(pattern, c =>
                        input[0] === c || slots.has(c) ? input.shift() || c : c
                    );
                },
                format = () => {
                    const [i, j] = [el.selectionStart, el.selectionEnd].map(i => {
                        i = clean(el.value.slice(0, i)).findIndex(c => slots.has(c));
                        return i < 0 ? prev.at(-1) : back ? prev[i - 1] || first : i;
                    });
                    el.value = clean(el.value).join("");
                    el.setSelectionRange(i, j);
                    back = false;
                };
            let back = false;
            el.addEventListener("keydown", (e) => back = e.key === "Backspace");
            el.addEventListener("input", format);
            el.addEventListener("focus", format);
            el.addEventListener("blur", () => el.value === pattern && (el.value = ""));
        }
    });



</script>
<input required placeholder="+93 (07_) ___-____" data-slots="_" data-accept="\d" maxlength="19" min="19"  pattern="^\+93 \(\d{2}\) \d{3}-\d{4}$"            title="Please enter a complete phone number in the format: +93 (07_) ___-____"
>



<div class="content container-fluid">




    <div class="row">
        <div class="col-sm-12">

            <div class="card comman-shadow">
                <div class="card-body">
                    <form asp-action="Create" method="post" data-ajax-success="OnSuccess" class="needs-validation" novalidate
                          data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailure" data-ajax="true" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title student-info">Basic Information <span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>

                                <p class="card-text">
                                    For custom Bootstrap form validation messages, you’ll need to add the <code>novalidate</code> boolean attribute to your form. For server side validation
                                    <a href="https://getbootstrap.com/docs/5.1/forms/overview/" target="_blank">read full documentation</a>.
                                </p>
                                <hr />
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>First Name <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" asp-for="FirstName" required id="FirstName" placeholder="Enter First Name">
                                    <div class="invalid-feedback">
                                        first name is required.
                                    </div>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Last Name <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" asp-for="LastName" id="LastName" required placeholder="Enter First Name">
                                    <div class="invalid-feedback">
                                        last name is required.
                                    </div>
                                    <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Father Name <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" asp-for="FatherName" id="FatherName" required placeholder="Enter Father Name">
                                    <div class="invalid-feedback">
                                        father name is required.
                                    </div>
                                    <span asp-validation-for="@Model.FatherName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Grand Father Name <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" asp-for="GfatherName" id="GfatherName" required placeholder="Enter Grand Father Name">
                                    <div class="invalid-feedback">
                                        grand father name is required.
                                    </div>
                                    <span asp-validation-for="@Model.GfatherName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Select Blood Group <span class="login-danger">*</span></label>
                                    @*<select asp-for="BloodGroup" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.BloodGroup>()" id="BloodGroup" class="form-control select2" required></select>*@
                                    <select asp-for="BloodGroup" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.BloodGroup>().Select(item => new SelectListItem { Text = item.Text, Value = item.Text.ToString() })" id="BloodGroup" class="form-control select2" required></select>

                                    <div class="invalid-feedback">
                                        Please choose a bood group.
                                    </div>
                                    <span asp-validation-for="@Model.BloodGroup" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Select Gender <span class="login-danger">*</span></label>
                                    @*<select asp-for="Gender" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.Gender>()" id="Gender" class="form-control select2" required></select>*@
                                    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.Gender>().Select(item => new SelectListItem { Text = item.Text, Value = item.Text.ToString() })" id="Gender" class="form-control select2" required></select>
                                    <div class="invalid-feedback">
                                        Please choose a gender.
                                    </div>
                                    <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms @*calendar-icon*@">
                                    <label>Date Of Birth  <span class="login-danger">*</span></label>
                                    @*class="form-control datetimepicker"*@
                                    <input asp-for="DateOfBirth" class="form-control" required id="DateOfBirth" type="date" placeholder="DD-MM-YYYY">
                                    <div class="invalid-feedback">
                                        Please select date of birth.
                                    </div>
                                    <span asp-validation-for="@Model.DateOfBirth" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-8">
                                <div class="form-group local-forms">
                                    <label>Tazkira Number<span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" required asp-for="Tazkira" maxlength="20" id="Tazkira" placeholder="Enter Tazkira Number">
                                    <div class="invalid-feedback">
                                        Tazkira number is required choose a first name.
                                    </div>
                                    <span asp-validation-for="@Model.Tazkira" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="form-title student-info">Class Information</h5>
                                <hr />
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Roll <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" asp-for="RoleNumber" required name="RoleNumber" placeholder="Enter Roll Number">
                                    <div class="invalid-feedback">
                                        Id number is required.
                                    </div>
                                    <span asp-validation-for="@Model.RoleNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Admission Date <span class="login-danger">*</span></label>
                                    <input class="form-control" asp-for="AdmissionDate" required id="AdmissionDate" type="date" placeholder="Enter Admission Date">
                                    <div class="invalid-feedback">
                                        Please choose a admission date.
                                    </div>
                                    <span asp-validation-for="@Model.AdmissionDate" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="@Model.Shift" class="control-label">Select Shift <span class="login-danger">*</span></label>
                                    @*<select asp-for="Shift" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.Shift>()" id="Shift" class="form-control select2" required></select>*@

                                    <select asp-for="Shift" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.Shift>().Select(item => new SelectListItem { Text = item.Text, Value = item.Text.ToString() })" id="Shift" class="form-control select2" required></select>
                                    <div class="invalid-feedback">
                                        Please choose a shift.
                                    </div>
                                    <span asp-validation-for="@Model.Shift" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Select Class <span class="login-danger">*</span></label>

                                    <input class="form-control" id="txtClass" type="text" placeholder="Enter Class Name" style="border-style:dashed">

                                    <input class="form-control" required asp-for="@Model.ClassId" id="ClassId" type="hidden">
                                    <div class="invalid-feedback">
                                        Select assignee class.
                                    </div>

                                    <span asp-validation-for="@Model.ClassId" class="text-danger"></span>

                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Payment <span class="login-danger">*</span></label>

                                    @Html.DropDownList("Payment", null, htmlAttributes: new { @class = "form-control select", @placeholder = "-- Please Select --", multiple = "true", Name = "Payment", Id = "Payment", required = "true" })
                                    <div class="invalid-feedback">
                                        Please choose a payment.
                                    </div>                                    @*<span asp-validation-for="Students.pay" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="form-title student-info">Contact Information</h5>
                                <hr />
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Guardian Name <span class="login-danger">*</span></label>
                                    <input class="form-control" asp-for="GuardianName" id="GuardianName" type="text" required placeholder="Enter Guardian Name">
                                    <div class="invalid-feedback">
                                        Guardian name is required.
                                    </div>
                                    <span asp-validation-for="@Model.GuardianName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Guardian Phone <span class="login-danger">*</span></label>
                                    <input class="form-control" asp-for="GuardianPhone" id="GuardianPhone" type="text" placeholder="Enter Guardian Phone" required>
                                    <div class="invalid-feedback">
                                        Guardian phone number is required..
                                    </div>
                                    <span asp-validation-for="@Model.GuardianPhone" class="text-danger"></span>
                                </div>
                            </div>



                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Contact <span class="login-danger">*</span></label>
                                    <input class="form-control" type="text" asp-for="Contact" id="Contact" required placeholder="Enter Contact Info">
                                    <div class="invalid-feedback">
                                        Student contact is required.
                                    </div>
                                    <span asp-validation-for="@Model.Contact" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <h5 class="form-title student-info">Adress Information</h5><hr />
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Province </label>
                                    @*<select asp-for="Province" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.Province>()" id="Province" class="form-control select2" required></select>*@

                                    <select asp-for="Province" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.Province>().Select(item => new SelectListItem { Text = item.Text, Value = item.Text.ToString() })" id="Province" class="form-control select2" required></select>

                                    <div class="invalid-feedback">
                                        Please choose a province.
                                    </div>
                                    <span asp-validation-for="@Model.Province" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>City </label>

                                    <select asp-for="City" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.District>().Select(item => new SelectListItem { Text = item.Text, Value = item.Text.ToString() })" id="District" class="form-control select2" required></select>

                                    @*<select asp-for="City" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.District>()" id="City" class="form-control select2" required></select>*@
                                    <div class="invalid-feedback">
                                        Please choose a city.
                                    </div>
                                    <span asp-validation-for="@Model.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Street </label>
                                    <input class="form-control" type="text" asp-for="Street" placeholder="Enter Street Name" required>
                                    <div class="invalid-feedback">
                                        Please choose a street.
                                    </div>
                                    <span asp-validation-for="@Model.Street" class="text-danger"></span>
                                </div>
                            </div>


                            @*<div class="col-12 col-sm-4">
                                    <div class="form-group students-up-files">
                                        <label>
                                            Upload Student Photo (150px X 150px)
                                            <div class="invalid-feedback">
                                                Please upload profile photo.
                                            </div>
                                        </label>

                                        <div class="uplod">
                                            <label class="file-upload image-upbtn mb-0">
                                                Choose File <input type="file" name="Image" required>

                                                <span asp-validation-for="@Model.Attachment" class="text-danger"></span>
                                            </label>

                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Comment </label>
                                    <input class="form-control" type="text" asp-for="Comment" placeholder="Enter Comment">
                                    <div class="invalid-feedback">
                                        Please typ a comment.
                                    </div>
                                    <span asp-validation-for="@Model.Comment" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="profile-user-box">
                                    <div class="profile-user-img">

                                        <img src="~/template/assets/img/profiles/avatar-02.jpg" id="uploadedImage" height="150" width="150" />


                                        <div class="form-group students-up-files profile-edit-icon mb-0">
                                            <div class="uplod d-flex">
                                                <label class="file-upload profile-upbtn mb-0">
                                                    <i class="feather-edit-3"></i>
                                                    <input type="file" name="Image" id="uploadInput" accept="image/*" required onchange="displayImage(event)">

                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




@*<link href="~/jquery-ui-1.14.1/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/jquery-ui-1.14.1/jquery-ui.min.js"></script>*@


<script src="~/template/assets/js/jquery.maskedinput.min.js" type="18eb242060ea2ce53c17f355-text/javascript"></script>
<script src="~/template/assets/js/mask.js" type="18eb242060ea2ce53c17f355-text/javascript"></script>


<script>

    $('#txtClass').autocomplete({

        minlength: 1,
        source: function (request, response) {


            var SearchText = $('#txtClass').val();
            //alert(SearchText);
            $('#txtClass').removeClass('notfound');
            $('#txtClass').addClass('loading');

            $.ajax({

                type: "POST",
                async: true,
                url: "/Classes/getClassByName",
                //data: "{term:'" + SearchText + "'}",
                data: { "term": SearchText },
                //contentType: "application/json;characterset=utf-8",

                success: function (data) {
                    if (data.length == 0) {

                        $('#txtClass').removeClass('loading');
                        $('#txtClass').addClass('notfound');


                    }
                    else {
                        $('#txtClass').removeClass('loading');


                    }

                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Id };
                    }))

                },

                error: function (result) {
                    debugger

                    console.log(result);
                }
            });



        },

        select: function (event, ui) {

            $('#txtClass').val(ui.item.label);

            $('#ClassId').val(ui.item.value);
            $('#txtClass').removeClass('notfound');
            $('#txtClass').addClass('checked');
            alert(ui.item.value);

            return false;

        },



    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

    function OnBegin() {
        $('.page-loader').show();

    }
    function OnSuccess(data) {
         if (data.status == "true") {

                 swal("Saved!",  data.message, "success");

             $("#FirstName").val("");
              $("#Comment").val("");
           @*document.location.href = "@Url.Action("Index","tbl_Transiction")",true;*@
         }
         else if (data.status=="duplicate") {
              swal("Dupplicate Record!",  data.message, "warning");
         }
        else {
        swal("False!", data.message, "error");
        }


        //$('#listContainer').html(data); // Replace the list with the updated content


    }
    function OnComplete() {
        $('.page-loader').hide();

    }
    </script>
}

<script>
    function displayImage(event) {
        var file = event.target.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            document.getElementById('uploadedImage').src = e.target.result;
        }

        reader.readAsDataURL(file);
    }
</script>


