@model IList<SchoolManagement.Models.Entities.TimeTable>

<div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-sub-header">
                    <h3 class="page-title">Welcome @User.Identity.Name!</h3>

                </div>
            </div>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Overview Section -->
    <div class="row">
        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>All Courses</h6>
                            <h3>@ViewBag.Course</h3>
                        </div>
                        <div class="db-icon">
                            <img src="~/template/assets/img/icons/teacher-icon-01.svg" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>All Projects</h6>
                            <h3>@ViewBag.Fees</h3>
                        </div>
                        <div class="db-icon">
                            <img src="~/template/assets/img/icons/teacher-icon-02.svg" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Test Attended</h6>
                            <h3>@ViewBag.Count</h3>
                        </div>
                        <div class="db-icon">
                            <img src="~/template/assets/img/icons/student-icon-01.svg" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-sm-6 col-12 d-flex">
            <div class="card bg-comman w-100">
                <div class="card-body">
                    <div class="db-widgets d-flex justify-content-between align-items-center">
                        <div class="db-info">
                            <h6>Achivements</h6>
                            <h3>15/20</h3>
                        </div>
                        <div class="db-icon">
                            <img src="~/template/assets/img/icons/student-icon-02.svg" alt="Dashboard Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Overview Section -->
    <!-- Student Dashboard -->
    <div class="row">
        <div class="col-12 col-lg-12 col-xl-12">


            <div class="row">

                <div class="col-12 col-lg-12 col-xl-12 d-flex">
                    <div class="card flex-fill comman-shadow">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="card-title">Schedule</h5>
                            <ul class="chart-list-out student-ellips">
                                <li class="star-menus"><a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="col-12 col-sm-12">
                                <table class="table table-bordered" border="1">
                                    <thead>
                                        <tr style="text-align:center">
                                            <th style="text-align:left">Day</th>
                                            <th>1H</th>
                                            <th>2H</th>
                                            <th>3H</th>
                                            <th>4H</th>
                                            <th>5H</th>
                                            <th>6H</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (MyEnums.DayOfWeek day in Enum.GetValues(typeof(MyEnums.DayOfWeek)))
                                        {
                                            int numer = 1;

                                            <tr>
                                                <th align="center" style="vertical-align: middle">@day</th>

                                                @foreach (MyEnums.ShiftHours hour in Enum.GetValues(typeof(MyEnums.ShiftHours)))
                                                {


                                                    <td align="center">
                                                        <p>
                                                            <i class="fa fa-book"></i>
                                                            @Model.Where(x => x.DayOfWeek == day.ToString() && x.HourOfDay == ((int)hour).ToString()).Select(x => x.Subject).FirstOrDefault()
                                                        </p>
                                                        <hr />
                                                        <small style="color:orangered;font-size:smaller">
                                                            <i class="fa fa-user"></i>
                                                            @Model.Where(x => x.DayOfWeek == day.ToString() && x.HourOfDay == ((int)hour).ToString()).Select(x => x.Teacher).FirstOrDefault()
                                                        </small>
                                                    </td>



                                                }


                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="col-12 col-lg-12 col-xl-4 d-flex">
                <div class="card flex-fill comman-shadow">
                    <div class="card-body">
                        <div id="calendar-doctor" class="calendar-container"></div>
                        <div class="calendar-info calendar-info1">
                            <div class="up-come-header">
                                <h2>Upcoming Events</h2>
                                <span><a href="javascript:;"><i class="feather-plus"></i></a></span>
                            </div>
                            <div class="upcome-event-date">
                                <h3>10 Jan</h3>
                                <span><i class="fas fa-ellipsis-h"></i></span>
                            </div>
                            <div class="calendar-details">
                                <p>08:00 am</p>
                                <div class="calendar-box normal-bg">
                                    <div class="calandar-event-name">
                                        <h4>Botony</h4>
                                        <h5>Lorem ipsum sit amet</h5>
                                    </div>
                                    <span>08:00 - 09:00 am</span>
                                </div>
                            </div>
                            <div class="calendar-details">
                                <p>09:00 am</p>
                                <div class="calendar-box normal-bg">
                                    <div class="calandar-event-name">
                                        <h4>Botony</h4>
                                        <h5>Lorem ipsum sit amet</h5>
                                    </div>
                                    <span>09:00 - 10:00 am</span>
                                </div>
                            </div>
                            <div class="calendar-details">
                                <p>10:00 am</p>
                                <div class="calendar-box normal-bg">
                                    <div class="calandar-event-name">
                                        <h4>Botony</h4>
                                        <h5>Lorem ipsum sit amet</h5>
                                    </div>
                                    <span>10:00 - 11:00 am</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>*@
    </div>

    <!-- /Student Dashboard -->
</div>