@model IEnumerable<SchoolManagement.Models.Entities.Student>
<!-- Datatables CSS -->
<div class="table-responsive">
    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
        <thead class="student-thread">
            <tr>

                <th>ID</th>
                <th>Student Name</th>
                <th>GuardianName</th>
                <th>Paid</th>



                <th class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string Imge = "";
                @if (item.PayFeesCount >= 1 && item.PayFeesCount == item.AssignFeesCount)
                {
                    <tr>



                        <td>@item.RoleNumber</td>

                        @if (item.Attachment != null)
                        {
                            Imge = Convert.ToBase64String(item.Attachment);
                            <td>
                                <a asp-action="Details" asp-controller="Teachers" asp-route-id="@item.StudentId">



                                    <img src="@string.Format("data:image/jpeg;base64,{0}",Imge)" class="img-fluid avatar-lg rounded" />
                                    @item.FirstName @item.LastName
                                </a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-action="Details" asp-controller="Teachers" asp-route-id="@item.StudentId">
                                    @item.FirstName @item.LastName
                                </a>
                            </td>
                        }
                        <td>@item.GuardianName / @item.GuardianPhone</td>




                        <td>
                            @item.AssignFeesCount / @item.PayFeesCount (Paid)
                            @*<select class="form-control">
                                    @foreach (var item2 in item.studentFeesPayments)
                                    {
                                        <option>@item2.PaymentName -------- @item2.Amount</option>
                                    }
                                </select>*@
                        </td>

                        <td class="text-end">
                            <div class="actions">

                                <a href="#" onclick='loadRecipt("@item.StudentId","@ViewBag.feeDate")' class="btn btn-sm bg-danger-light">
                                    <i class="fa fa-receipt"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
                else if (item.PayFeesCount == 0 || item.PayFeesCount < item.AssignFeesCount)
                {
        <tr style="border-color:orangered">



            <td>@item.RoleNumber</td>

            @if (item.Attachment != null)
            {
                Imge = Convert.ToBase64String(item.Attachment);
                <td>
                    <a asp-action="Details" asp-route-id="@item.StudentId">



                        <img src="@string.Format("data:image/jpeg;base64,{0}",Imge)" class="img-fluid avatar-lg rounded" />
                        @item.FirstName @item.LastName
                    </a>
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.StudentId">
                        @item.FirstName @item.LastName
                    </a>
                </td>
            }
            <td>@item.GuardianName / @item.GuardianPhone</td>




            <td>
                @item.AssignFeesCount / @item.PayFeesCount (Un Paid)
                @*<select class="form-control">
                @foreach (var item2 in item.studentFeesPayments)
                {
                    <option>@item2.PaymentName -------- @item2.Amount</option>
                }
            </select>*@
            </td>

            <td class="text-end">
                <div class="actions">

                    <a href="#" onclick='loadRecipt("@item.StudentId","@ViewBag.feeDate")' class="btn btn-sm bg-danger-light">
                        <i class="fa fa-receipt"></i>
                    </a>
                </div>
            </td>
        </tr>
                }

            }


        </tbody>
    </table>
</div>


