@model IEnumerable<SchoolManagement.Models.db.Transaction>
<!-- Datatables CSS -->
@*@{

        Layout = "~/Views/Shared/_Layout.cshtml";
    }*@


    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
        <thead class="student-thread">
            <tr>
          
                <th>No#</th>
                <th>Paid By</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Debit / Credit</th>
                <th> Date</th>



                <th class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string Imge = "";

            <tr>



                <td>@item.Number</td>

                <td>  @item.PaidBy </td>
                <td> @item.Type</td>
                <td>@item.Amount</td>
                <td>@item.Drcr</td>
                <td>@item.CreatedDate.Value.ToLongDateString()</td>




                <td>
                    <div class="input-group">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">List</button>
                        <div class="dropdown-menu">

                            <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Edit</a>

                            <div role="separator" class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Info</a>
                        </div>
                    </div>
                </td>

            </tr>
            }


        </tbody>
    </table>


