
@model IList<SchoolManagement.Models.db.Transaction>

@{ int number = 0;}
<script src="~/js/jQuery JavaScript Library v3.7.1.js"></script>

<div class="content container-fluid">


    <div class="row">
        <div class="col-sm-12">

            <div class="card comman-shadow">
                <div class="card-body">
                    <form asp-action="Fees" method="post" data-ajax-success="OnSuccess" class="needs-validation" novalidate
                          data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailure" data-ajax="true" enctype="multipart/form-data">


                        @Html.AntiForgeryToken()



                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row ">

                            <div class="col-12">
                                <h5 class="form-title student-info">Pay Fees<span><a href="javascript:;"><span id="TotalAmountText"></span></a></span></h5>
                            </div>
                            <div class="row">
                                <div class="form-group local-forms col-lg-5">
                                    <div class="form-group local-forms">
                                        <input type="text" required id="txtName" name="txtName" class="form-control" />

                                    </div>
                                </div>

                                <div class="form-group local-forms col-lg-3">
                                    <div class="form-group local-forms">
                                        <label asp-for="@Model[number].PaidBy" class="control-label">PadiBy <span class="login-danger"> *</span></label>
                                        <input asp-for="@Model[number].PaidBy" id="PaidBy" maxlength="50" required class="form-control" value="na" />
                                        <span asp-validation-for="@Model[number].PaidBy" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group local-forms col-lg-4">
                                    <div class="form-group local-forms">
                                        <label asp-for="@Model[number].Comment" class="control-label">Comment <span class="login-danger"> *</span></label>
                                        <input asp-for="@Model[number].Comment" id="Comment" maxlength="50" value="na" required class="form-control" />
                                        <span asp-validation-for="@Model[number].Comment" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <hr />
                            <div id="list_"></div>
                            @*<table id="tbl123">
                                    <tbody></tbody>


                                </table>*@
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary" id=""> Submit</button>
                                </div>
                            </div>


                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>














<script>


    $('#user').autocomplete({
        minlength: 3,
        source: function (request, response) {
            var SearchText = $("#user").val();
            $('#user').removeClass('notfound')
            $('#user').addClass('loading');
            $.ajax({

                type: "POST",
                url: "/tbl_Company/GetCopmany",
                data: { "term": $("#user").val() },
                contentType: 'text/html',

                success: function (data) {

                    if (data.length == 0) {
                        $('#user').removeClass('loading');
                        $('#user').addClass('notfound');
                    }
                    response($.map(data, function (item) {
                        return { label: item.Name, value: item.Id };
                    }))

                },

                error: function (result) {
                    debugger

                    console.log(result);
                }
            });
        }
        ,

        select: function (event, ui) {
            $('#user').val(ui.item.label);
            $('#CompanyId').val(ui.item.value);

            $('#user').removeClass('loading notfound');

            return false;
        }
    })
</script>



<link href="~/jquery-ui-1.14.1/jquery-ui.min.css" rel="stylesheet" />
<script src="~/jquery-ui-1.14.1/jquery-ui.min.js"></script>


<script>
    var totalAmount = 0;
    var Id = "";
    $('#txtName').autocomplete({

        minlength: 3,
        source: function (request, response) {


            var SearchText = $('#txtName').val();
            //alert(SearchText);
            $('#txtName').removeClass('notfound');
            $('#txtName').addClass('loading');

            $.ajax({

                type: "POST",
                async: true,
                url: "/Students/getStudentByName",
                //data: "{term:'" + SearchText + "'}",
                data: { "term": SearchText },
                //contentType: "application/json;characterset=utf-8",

                success: function (data) {
                    if (data.length == 0) {

                        $('#txtName').removeClass('loading');
                        $('#txtName').addClass('notfound');


                    }
                    else {
                        $('#txtName').removeClass('loading');


                    }

                    response($.map(data, function (item) {
                        return { label: item.FirstName, value: item.StudentId };
                    }))

                },

                error: function (result) {
                    debugger

                    console.log(result);
                }
            });



        },

        select: function (event, ui) {

            $('#txtName').val(ui.item.label);

            $('#StudentId').val(ui.item.value);
            $('#txtName').removeClass('notfound');
            $('#txtName').addClass('checked');

            if (Id == ui.item.value) {
                alert("Duplicate name");
                return;
            }
            Id = ui.item.value;
            $('.page-loader').show();
            var studentName = ui.item.label;
            var studentId = ui.item.value;
            $.ajax({

                type: "POST",
                url: "/Transactions/getStudentPayments",
                //data: "{term:'" + SearchText + "'}",
                data: { "Id": ui.item.value },


                success: function (data) {

                    $('#list_').html(data);
                    $('.page-loader').hide();

                },

                error: function (result) {
                    debugger

                    console.log(result);
                }
            });

            return false;

        },



    });
  
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

    function OnBegin() {
        $('.page-loader').show();

    }
    function OnSuccess(data) {
         if (data.status == "true") {


             //swal("Saved!", data.message, "success");

             LoadInvoice(data.Id, data.Date)
             //$("#Name").val("");
             //$("#Comment").val("");

           @*document.location.href = "@Url.Action("Index","tbl_Transiction")",true;*@
         }
         else if (data.status=="duplicate") {
              swal("Dupplicate Record!",  data.message, "warning");
         }
        else {
        swal("False!", data.message, "error");
        }


        //$('#listContainer').html(data); // Replace the list with the updated content


    }
    function OnComplete() {
        $('.page-loader').hide();

    }
    </script>
}
<script>
    function LoadInvoice(Id, Date) {


        $.ajax({


            type: "POST",
            async: true,
            url: "/Transactions/Recipt", //url to load partial view
            //data: "{term:'" + SearchText + "'}",
            data: { "Id": Id, "feeDate": Date },
            //contentType: "application/json;characterset=utf-8",
            success: function (response) {
                $('#A4ModelBody').html(response);
                $('#A4Model').modal('show');

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>

@* printer button function *@
<script>

    function printDiv() {




        var divToPrint = document.getElementById('DivIdToPrint');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write(`<html>
           <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">


                <title>


                   بیل چاپ
                </title>









            </head>
<body onload="window.print()">` + divToPrint.innerHTML + ' </body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); }, 10);
        $("#Cancel").trigger("click");





    }


</script>


<div class="modal fade bd-example-modal-lg" id="A4Model" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body" id="A4ModelBody">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="printDiv()"><i class="fa fa-print"></i> Print</button>
            </div>
        </div>
    </div>
</div>

