@model IEnumerable<SchoolManagement.Models.Entities.Exam>
<!-- Datatables CSS -->


<div class="table-responsive">
    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
        <thead class="student-thread">
            <tr>

                <th>Student </th>
                <th>Class </th>
                <th>Subject </th>
                <th>Teacher </th>
                <th>Year</th>

                <th>Marks</th>
                <th>Approvals</th>
                <th>Result</th>

                <th class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count()>=1)
            {
                foreach (var item in Model)
                {
                    string Imge = "";

            <tr>

                <td>@item.StudentName</td>
                <td>@item.ClassName</td>
                <td>@item.SubjectName</td>
                <td>@item.TeacherName</td>

                <td>@item.Year </td>
                <td>
                    <select>
                        <option>FirstExam: @item.FirstExam</option>
                        <option>SecondExam: @item.SecondExam</option>
                        <option>ClassActivity: @item.ClassActivity</option>
                        <option>HomeActivity: @item.HomeActivity</option>
                        <option>Attendance: @item.Attendance</option>
                    </select>
                </td>
                <td>
                    <select>
                        <option>Teacher: @item.TeacherApproverName- @item.TeacherApprovalTime</option>
                        <option>Dearn: @item.DeanApproverName - @item.DearnApprovalTime</option>
                        <option>Final: @item.FinalApproverName - @item.FinalApprovalTime</option>

                    </select>
                </td>
                <td>@item.Result</td>

                <td class="text-end">
                    <div class="actions">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm bg-success-light me-2">
                            <i class="feather-eye"></i>
                        </a>
                        <a asp-action="Create" asp-route-ScheduleId="@item.SubJectId" class="btn btn-sm bg-danger-light">
                            <i class="feather-edit"></i>
                        </a>
                    </div>
                </td>
            </tr>
                }
            }
            else
            {
                <tr><td colspan="10"> <h5 style="text-align:center;color:orangered">0 recods founded!</h5></td></tr>
               
            }



        </tbody>
    </table>
</div>


