@model IEnumerable<SchoolManagement.Models.Entities.Exam>
<!-- Datatables CSS -->


<div class="table-responsive">
    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
        <thead class="student-thread">
            <tr>
                <th>
                    <div class="form-check check-tables">
                        <input class="form-check-input" type="checkbox" value="something">
                    </div>
                </th>
                <th>Student Name</th>
                <th>Subject</th>
                <th>First</th>
                <th>Second</th>
                <th>Other</th>
                <th>Year</th>
                <th>Result</th>

                <th class="text-end">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count()>=1)
            {
                foreach (var item in Model)
                {
                    string Imge = "";

                    <tr>
                        <td>
                            <div class="form-check check-tables">
                                <input class="form-check-input" type="checkbox" value="something">
                            </div>
                        </td>
                        <td>@item.StudentName</td>



                        <td>@item.SubjectName</td>
                        <td>@item.FirstExam </td>
                        <td>
                            @item.SecondExam
                        </td>
                        <td>Other Activities</td>
                        <td>
                            @item.Year
                        </td>
                        <td>@item.Result</td>

                        <td class="text-end">
                            <div class="actions">
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm bg-success-light me-2">
                                    <i class="feather-eye"></i>
                                </a>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm bg-danger-light">
                                    <i class="feather-edit"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td colspan="10"> <h5 style="text-align:center;color:orangered">0 recods founded!</h5></td></tr>
               
            }



        </tbody>
    </table>
</div>


