@model IEnumerable<SchoolManagement.Models.Entities.Exam>

@if (Model.Count() >= 1)
{
    <div class="row">
        <div class="col-sm-12">

            <div class="card card-table">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Student</th>
                                <th>First Exam</th>
                                <th>Second Exam</th>
                                <th>Class Exam</th>
                                <th>Home Exam</th>
                                <th>Attendance Exam</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.StudentName</td>
                                    <td>@item.FirstExam</td>
                                    <td>@item.SecondExam</td>
                                    <td>@item.ClassActivity</td>
                                    <td>@item.HomeActivity</td>
                                    <td>@item.Attendance</td>
                                </tr>

                            }

                        </tbody>
                        <tr>
                            <td colspan="2">
                                @if (Model.FirstOrDefault().TeacherApproverId != null)
                                {
                                    <strong>Teacher:</strong>
                                    <p>Passed?:Yes (@Model.FirstOrDefault().TeacherApproverName)</p>
                                    <p>Time: @Model.FirstOrDefault().TeacherApprovalTime</p>
                                    <p>Comment: @Model.FirstOrDefault().TeacherApproverComment</p>
                                }
                                else
                                {
                                    <strong>Teacher:</strong>
                                    <p>Passed?:No</p>
                                    <p>Time:00/00/00 </p>
                                    <p>Comment:Na</p>
                                }
                            </td>
                            <td colspan="2">
                                @if (Model.FirstOrDefault().DeanApproverId != null)
                                {
                                    <strong>Dean:</strong>
                                    <p>Passed?:Yes (@Model.FirstOrDefault().DeanApproverName)</p>
                                    <p>Time: @Model.FirstOrDefault().DearnApprovalTime</p>
                                    <p>Dean: @Model.FirstOrDefault().DeanApproverComment</p>
                                }
                                else
                                {
                                    <strong>Dean:</strong>
                                    <p>Passed?:No</p>
                                    <p>Time:00/00/00 </p>
                                    <p>Comment:Na</p>
                                }
                            </td>
                            <td colspan="2">
                                @if (Model.FirstOrDefault().FinalApproverId != null)
                                {
                                    <strong>Final:</strong>
                                    <p>Passed?:Yes (@Model.FirstOrDefault().FinalApproverName)</p>
                                    <p>Time: @Model.FirstOrDefault().FinalApprovalTime</p>
                                    <p>Comment: @Model.FirstOrDefault().FinalApproverComment</p>
                                }
                                else
                                {
                                    <strong>Final:</strong>
                                    <p>Passed?:No</p>
                                    <p>Time:00/00/00 </p>
                                    <p>Comment:Na</p>
                                }
                            </td>

                        </tr>
                    </table>

                    <hr />

              
                        <form asp-action="tackAction" method="post" data-ajax-success="rOnSuccess"
                              data-ajax-begin="rOnBegin" data-ajax-complete="rOnComplete" data-ajax-failure="rOnFailure" data-ajax="true" enctype="multipart/form-data">
                            <input type="hidden" value="@ViewBag.ScheduleId" name="ScheduleId" />
                   
                            <div class="row">
                                @if (Model.FirstOrDefault().TeacherApproverId==null||Model.FirstOrDefault().DeanApproverId==null||Model.FirstOrDefault().FinalApproverId==null)
                                {

                                  
                                        <div class="col-8">
                                            <input type="text" name="Comment" class="form-control" />
                                        </div>
                                        <div class="col-4">
                                            <div class="student-submit">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                         

                                }




                                @*@if (User.Claims.FirstOrDefault(x => x.Type == "Role")?.Value == "Dean" || User.Claims.FirstOrDefault(x => x.Type == "Role")?.Value == "Admin")
                                    {

                                        <div class="col-4 row">
                                            <div class="col-8">
                                                <input type="text" name="Comment" class="form-control" />
                                            </div>
                                            <div class="col-4">
                                                <div class="student-submit">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </div>

                                    }




                                    @if (User.Claims.FirstOrDefault(x => x.Type == "Role")?.Value == "Dean" || User.Claims.FirstOrDefault(x => x.Type == "Role")?.Value == "Admin")
                                    {

                                        <div class="col-4 row">
                                            <div class="col-8">
                                                <input type="text" name="Comment" class="form-control" />
                                            </div>
                                            <div class="col-4">
                                                <div class="student-submit">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </div>

                                    }*@

                            </div>

                        </form>

               

                </div>
            </div>
        </div>
    </div>
}

<script>

    function rOnBegin() {
        $('.page-loader').show();

    }
    function rOnSuccess(data) {
        if (data.status == "true") {

            swal("Saved!", data.message, "success");
        }
        else {
            swal("False!", data.message, "error");
        }


        //$('#listContainer').html(data); // Replace the list with the updated content


    }
    function rOnComplete() {
        $('.page-loader').hide();

    }
</script>
