
@model IEnumerable<SchoolManagement.Models.Entities.Class_>
<!-- Datatables CSS -->


<div class="table-responsive">
    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
        <thead class="student-thread">
            <tr style="text-align:center">
              <th>#</th>
                <th>Name</th>
                <th>Teacher</th>
                <th>Shift</th>
                <th>Rome</th>

                <th>Year</th>
                <th>Subject#</th>


                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() >= 1)
            {
                int number = 0;
                foreach (var item in Model)
                {


                    <tr style="text-align:center">
                        <td>
                            @number
                        </td>
                        <td><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a> </td>
                        <td>@item.TeacherName</td>
                        <td>@item.Shift </td>
                        <td>@item.Room </td>
                        <td>@item.Year </td>
                        <td>@item.NumberOfSubject </td>
                        <td>
                            <div class="input-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">List</button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Edit  </a>

                                    <a class="dropdown-item" asp-action="Create" asp-controller="AttendanceLogs" asp-route-ClassId="@item.Id">  Attendance </a>
                                    <a class="dropdown-item" asp-action="TimeTable" asp-controller="Classes" asp-route-Id="@item.Id"> Time Table   </a>
                                    <a class="dropdown-item" asp-action="TimeTableEdit" asp-controller="Classes" asp-route-Id="@item.Id">Time Table Edit </a>
                                    <a class="dropdown-item" href="#" onclick='LoadSubjects("@item.Id")'>Subjects </a>
                                    <div role="separator" class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Info</a>
                                </div>
                            </div>
                        </td>


                    </tr>
                    number++;
                }
            }
            else
            {
                <tr><td colspan="10"> <h5 style="text-align:center;color:orangered">0 recods founded!</h5></td></tr>

            }



        </tbody>
    </table>
</div>


