
@model IEnumerable<SchoolManagement.Models.Entities.Class_>
<!-- Datatables CSS -->


<div class="table-responsive">
    <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
        <thead class="student-thread">
            <tr>
              <th>#</th>
                <th>Name</th>
                <th>Teacher</th>
                <th>Shift</th>
                <th>Rome</th>

                <th>Year</th>
              


                <th class="text-end" style="width:30%">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() >= 1)
            {
                int number = 0;
                foreach (var item in Model)
                {
                  

            <tr>
                <td>
                   @number
                </td>
                <td><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a> </td>
                <td>@item.TeacherName</td>
                <td>@item.Shift </td>
                <td>@item.Room </td>
                <td>@item.Year </td>
              

                <td class="text-end" style="width:30%">
                    <div class="actions">

                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm bg-danger-light">
                            <i class="feather-edit"></i>
                        </a>

                        <a asp-action="Create" asp-controller="AttendanceLogs" asp-route-ClassId="@item.Id" class="btn btn-sm bg-info-light">
                            <i class="feather-alert-circle"></i>
                            Attendance
                        </a>
                        <a asp-action="TimeTable" asp-controller="Classes" asp-route-Id="@item.Id" class="btn btn-sm bg-info-light">
                          Time Table  <i class="feather-tablet"></i>
                        </a>
                        <a asp-action="TimeTableEdit" asp-controller="Classes" asp-route-Id="@item.Id" class="btn btn-sm bg-info-light">
                           TT Edit <i class="feather-tablet"></i>
                        </a>
                        <a onclick='LoadSubjects("@item.Id")' class="btn btn-sm bg-info-light">
                            Subjects<i class="feather-external-link"></i>
                        </a>
                        @item.Grad
                    </div>
                </td>
            </tr>
                    number++;
                }
            }
            else
            {
                <tr><td colspan="10"> <h5 style="text-align:center;color:orangered">0 recods founded!</h5></td></tr>

            }



        </tbody>
    </table>
</div>


