@model SchoolManagement.Models.db.Class




<div class="content container-fluid">



    <div class="row">
        <div class="col-sm-12">

            <div class="card comman-shadow">
                <div class="card-body">
                    <form asp-action="Create" method="post" data-ajax-success="OnSuccess"
                          data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailure" data-ajax="true" enctype="multipart/form-data">


                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title student-info">Register New Class<span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
                            </div>

                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Name" class="control-label"></label>
                                    <select asp-for="Name" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.Alphabet>().Select(item => new SelectListItem { Text = item.Text, Value = item.Text.ToString() })" id="" class="form-control select2" required></select>

                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Grad <span class="login-danger">*</span></label>
                                    <select asp-for="Grad" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.Grade>().Select(item => new SelectListItem { Text = item.Text, Value = item.Value.ToString() })" id="" class="form-control select2" required></select>

                                    <span asp-validation-for="Grad" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label>Teacher <span class="login-danger">*</span></label>
           
                                    @Html.DropDownList("TeacherId", null, htmlAttributes: new { @class = "form-control select", @placeholder = "-- Please Select --" })
                                    <span asp-validation-for="TeacherId" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Shift" class="control-label"></label>
                                    <select asp-for="Shift" asp-items="Html.GetEnumSelectList<SchoolManagement.Models.MyEnums.Shift>().Select(item => new SelectListItem { Text = item.Text, Value = item.Text.ToString() })" id="" class="form-control select2" required></select>

                                    <span asp-validation-for="Shift" class="text-danger"></span>
                                </div>
                            </div>
                  
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Year" class="control-label"></label>
                                    <select class="form-control select" id="Year" name="Year">
                                        <option value="@DateTime.Now.AddYears(-1).Year">@DateTime.Now.AddYears(-1).Year</option>
                                        <option selected value="@DateTime.Now.Year">@DateTime.Now.Year</option>
                                        <option value="@DateTime.Now.AddYears(1).Year">@DateTime.Now.AddYears(1).Year</option>


                                    </select>
                                    <span asp-validation-for="Year" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Number" class="control-label">Class Number</label>
                                    <input asp-for="Number" class="form-control" />
                                    <span asp-validation-for="Number" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Room" class="control-label"></label>
                                    <input asp-for="Room" class="form-control" />
                                    <span asp-validation-for="Room" class="text-danger"></span>
                                </div>
                            </div>


                            <div class="col-12 col-sm-4">
                                <div class="form-group local-forms">
                                    <label asp-for="Comment" class="control-label"></label>
                                    <input asp-for="Comment" class="form-control" />
                                    <span asp-validation-for="Comment" class="text-danger"></span>
                                </div>
                            </div>
                            @*<div class="col-12 col-sm-4">
                                <div class="form-group students-up-files">
                                    <label>Upload Attachment</label>
                                    <div class="uplod">
                                        <label class="file-upload image-upbtn mb-0">
                                            Choose File <input type="file" name="Image">
                                            <span asp-validation-for="Attachment" class="text-danger"></span>
                                        </label>

                                    </div>
                                </div>
                            </div>*@


                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
</form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

    function OnBegin() {
        $('.page-loader').show();

    }
    function OnSuccess(data) {
         if (data.status == "true") {

                 swal("Saved!",  data.message, "success");

             $("#Name").val("");
              $("#Comment").val("");
           @*document.location.href = "@Url.Action("Index","tbl_Transiction")",true;*@
         }
         else if (data.status=="duplicate") {
              swal("Dupplicate Record!",  data.message, "warning");
         }
        else {
        swal("False!", data.message, "error");
        }


        //$('#listContainer').html(data); // Replace the list with the updated content


    }
    function OnComplete() {
        $('.page-loader').hide();

    }
    </script>
}
