@model SchoolManagement.Models.Entities.Class_





<div class="content container-fluid">


    <div class="row">

        <div class="col-sm-12">

            <div class="card comman-shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3"><strong>Name:</strong> @Model.Name</div>
                        <div class="col-lg-3"><strong>Teacher:</strong> @Model.TeacherName</div>
                        <div class="col-lg-2"><strong>Shift:</strong> @Model.Shift</div>
                        <div class="col-lg-2"><strong>Grad</strong> @Model.Grad</div>
                        <div class="col-lg-2"><strong>Year</strong> @Model.Year</div>

                        <hr />
                        <div class="table-responsive">
                            <table id="studentTable" class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                                <thead class="student-thread">
                                    <tr>

                                        <th>ID</th>
                                        <th>Name</th>

                                        <th>Guardian</th>
                                        <th>Contact</th>

                                        <th class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.Student != null)
                                    {
                                        @foreach (var item in ViewBag.Student)
                                        {
                                            string Imge = "";

                                            <tr>



                                                <td>@item.RoleNumber</td>

                                                @if (item.Attachment != null)
                                                {
                                                    Imge = Convert.ToBase64String(item.Attachment);
                                                    <td>

                                                        <img src="@string.Format("data:image/jpeg;base64,{0}", Imge)" class="img-fluid avatar-lg rounded" />
                                                        @if (item.Status == true)
                                                        {
                                                            <i class="fa fa-check-circle"></i>
                                                            <a asp-action="Details" asp-controller="Students" asp-route-id="@item.StudentId">   @item.FirstName @item.LastName</a>


                                                        }
                                                        else
                                                        {
                                                            <i class="fa fa-delete-left"></i>
                                                            <a asp-action="Details" asp-controller="Students" asp-route-id="@item.StudentId">   @item.FirstName @item.LastName</a>


                                                        }
                                                    </td>
                                                }


                                                <td>@item.GfatherName / @item.GuardianPhone</td>
                                                <td>@item.Contact</td>


                                                <td class="text-end">
                                                    <div class="actions">

                                                        <a asp-controller="Students" asp-action="Edit" asp-route-id="@item.StudentId" class="btn btn-sm bg-danger-light">
                                                            <i class="feather-edit"></i>
                                                        </a>
                                                        <a onclick='LoadPerants("@item.StudentId")' class="btn btn-sm bg-danger-light">
                                                            <i class="feather-users"></i>
                                                        </a>
                                                        <a onclick='LoadFiles("@item.StudentId")' class="btn btn-sm bg-danger-light">
                                                            <i class="fa fa-file"></i>
                                                        </a>
                                                        <a onclick='getResult("@item.StudentId","2024")' class="btn btn-sm bg-danger-light">
                                                            <i class="fa fa-certificate"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {

                                        <tr><td colspan="10" align="center"><p>0 students assign to this class</p></td></tr>


                                    }
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


    <script>

        function OnBegin() {
            $('.page-loader').show();

        }
        function OnSuccess(data) {
            $('#AModelBody').html(data);
        }
        function OnComplete() {
            $('.page-loader').hide();

        }
    </script>



<script>

    function getResult(Id, Year) {
        $('.page-loader').show();

        $.ajax({


            type: "POST",
            async: true,
            url: "/Students/getResult", //url to load partial view
            //data: "{term:'" + SearchText + "'}",
            data: { "Id": Id, "Year": Year },
            //contentType: "application/json;characterset=utf-8",
            success: function (response) {
                $('#AModelBody').html(response);
                $('#AModel').modal('show');

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }

        });
        $('.page-loader').hide();
    }
    function LoadFiles(Id) {

        $('.page-loader').show();

        $.ajax({


            type: "POST",
            async: true,
            url: "/Students/LoadFile", //url to load partial view
            //data: "{term:'" + SearchText + "'}",
            data: { "Id": Id },
            //contentType: "application/json;characterset=utf-8",
            success: function (response) {
                $('#AModelBody').html(response);
                $('#AModel').modal('show');

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }

        });
        $('.page-loader').hide();
    }
    function DeleteFile(Id) {
        $('.page-loader').show();

        $.ajax({


            type: "POST",
            async: true,
            url: "/Students/DeleteFiles", //url to load partial view
            //data: "{term:'" + SearchText + "'}",
            data: { "Id": Id },
            //contentType: "application/json;characterset=utf-8",
            success: function (response) {
                $('#AModelBody').html(response);
                $('#AModel').modal('show');

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        $('.page-loader').hide();
    }
    function LoadPerants(Id) {

        $('.page-loader').show();

        $.ajax({


            type: "POST",
            async: true,
            url: "/Students/LpadPerants", //url to load partial view
            //data: "{term:'" + SearchText + "'}",
            data: { "Id": Id },
            //contentType: "application/json;characterset=utf-8",
            success: function (response) {

                $('#AModelBody').html(response);
                $('#AModel').modal('show');

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }

        });
        $('.page-loader').hide();
    }
    function DeletePerants(Id) {
        $('.page-loader').show();

        $.ajax({


            type: "POST",
            async: true,
            url: "/Students/DeletePerants", //url to load partial view
            //data: "{term:'" + SearchText + "'}",
            data: { "Id": Id },
            //contentType: "application/json;characterset=utf-8",
            success: function (response) {
                $('#AModelBody').html(response);
                $('#AModel').modal('show');

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        $('.page-loader').hide();
    }
</script>


