@model IList<SchoolManagement.Models.db.TimeTable>



@{ int number = 0;}



<div class="content container-fluid">


    <div class="row">

        <div class="col-sm-12">

            <div class="card comman-shadow">
                <div class="card-body">
                    <form asp-action="createTimeTable" asp-controller="Schedules" method="post" data-ajax-success="OnSuccess" class="needs-validation" novalidate
                          data-ajax-begin="OnBegin" data-ajax-complete="OnComplete" data-ajax-failure="OnFailure" data-ajax="true" enctype="multipart/form-data">


                        @Html.AntiForgeryToken()


                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-lg-3"><strong>Name:</strong> @ViewBag.Class.Name</div>
                            <div class="col-lg-3"><strong>Teacher:</strong> @ViewBag.Class.TeacherName</div>
                            <div class="col-lg-2"><strong>Shift:</strong> @ViewBag.Class.Shift</div>
                            <div class="col-lg-2"><strong>Grad</strong> @ViewBag.Class.Grad</div>
                            <div class="col-lg-2"><strong>Year</strong> @ViewBag.Class.Year</div>

                            <hr />
                            <div class="col-12 col-sm-12">
                                <table class="table table-striped">
                                    <thead>
                                        <tr style="text-align:center">
                                            <th>Day</th>
                                            <th>1H</th>
                                            <th>2H</th>
                                            <th>3H</th>
                                            <th>4H</th>
                                            <th>5H</th>
                                            <th>6H</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (MyEnums.DayOfWeek day in Enum.GetValues(typeof(MyEnums.DayOfWeek)))
                                        {
                                            int column = 1;
                                            <tr>
                                                <td>@day</td>

                                                @foreach (MyEnums.ShiftHours hour in Enum.GetValues(typeof(MyEnums.ShiftHours)))
                                                {

                                                    <td>

                                                        <select style="width:100px" asp-for="@Model[number].SubjectId" asp-items="@ViewBag.AssigneeList">
                                                            <option disabled selected>-- --</option>
                                                        </select>

                                                        <input asp-for="@Model[number].DayOfWeek" type="hidden" value="@day" />
                                                        <input asp-for="@Model[number].HourOfDay" type="hidden" value="@column" />
                                                        <input asp-for="@Model[number].ClassId" type="hidden" value="@ViewBag.Class.Id" />
                                                        <input asp-for="@Model[number].Year" type="hidden" value="@ViewBag.Class.Year" />
                                                    </td>
                                                    number++;
                                                    column++;
                                                }


                                            </tr>
                                      
                                        }
                                    </tbody>
                                </table>
                            </div>


                            <hr />
                            <div class="col-12">
                                <div class="student-submit">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

    function OnBegin() {
        $('.page-loader').show();

    }
    function OnSuccess(data) {
         if (data.status == "true") {

                 swal("Saved!",  data.message, "success");

             $("#Name").val("");
             $("#Comment").val("");
              $("#Amount").val("");
           @*document.location.href = "@Url.Action("Index","tbl_Transiction")",true;*@
         }
         else if (data.status=="duplicate") {
              swal("Dupplicate Record!",  data.message, "warning");
         }
        else {
        swal("False!", data.message, "error");
        }


        //$('#listContainer').html(data); // Replace the list with the updated content


    }
    function OnComplete() {
        $('.page-loader').hide();

    }
    </script>
}




<script>

    $('#gradList').change(function () {

        $('.page-loader').show();
        var selectedValue = $(this).val();

        $.ajax({
            url: "/Classes/getClassGrad",
            method: 'POST',


            data: { term: selectedValue },
            success: function (response) {
                $('.page-loader').hide();
                var dropdown = $('#ClassList');
                dropdown.empty(); // Clear existing options

                // Add a default option
                dropdown.append($('<option>').val('').text('Select an item'));

                // Add options based on the response data
                $.each(response, function (index, item) {
                    dropdown.append($('<option>').val(item.id).text(item.name));
                });
            },
            error: function (xhr, status, error) {
                // Handle any errors
                $('.page-loader').hide();
                console.error(error);
            }
        });
    });

</script>