@model IEnumerable<SchoolManagement.Models.db.TableStaff>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string Imge = "";
           

        <tr>
            @if (item.Image != null)
            {
            Imge = Convert.ToBase64String(item.Image);
            <td>

                <img src="@string.Format("data:image/jpeg;base64,{0}",Imge)" height="100" width="100" />
            </td>
            }
            else
            {
                <img src="~/lib/bootstrap/dist/" />
            }
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
        </tbody>
    </table>
